body{
    font-family:"Open sans",sans-serif;
}
h1{
    font-family: "Roboto",sans-serif;
}
    
h1{
    font-size: 3rem;
    font-weight: 600;
}
h2{
    color: #4CAF50;
}
main-title {
    font-size: 4rem;
}
main{
    background-color: #ECEFF1;
}

.p1{
  font-size: 16px;  
  color:#546E7A;
}
.p2{
    font-size: 18px;
    color: #37474f;
}
.p3{
    font-size: 20px;
    color: #78909c;
}

li{
    font-size: 16px;
    color:#37474f
}

li:nth-child(1) {
    list-style-type: square;
}
li:nth-child(2) {
    list-style-type: disc;
}
li:nth-child(3) {
    list-style-type: circle;
}
li:nth-child(4) {
    list-style-type: square;
}
li:nth-child(5) {
     list-style-type: disc;
}
li:nth-child(6) {
     list-style-type: circle;
} 
li:nth-child(7) {
     list-style-type: square;
}
li:nth-child(8) {
     list-style-type: circle;
}
li:nth-child(9) {
     list-style-type: disc;
}
.highlight {
    color: #ffc107;
}
